@model HotHitsLyrics.Models.Album

@{
    ViewData["Title"] = "Album Details";
}

<h1>Album Details</h1>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleasedYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleasedYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Photo != null)
            {
                <img src="~/Image/Albums/@Model.Photo" asp-append-version="true" class="img-thumbnail" alt="@Model.Name" />
            }
        </dd>
    </dl>
</div>
<div>
    <!-- hide the Edit link from anonymous users -->
    @if (User.Identity.IsAuthenticated)
    { 
        <a asp-action="Edit" asp-route-id="@Model.AlbumId">Edit</a>
    }
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
