@model IEnumerable<HotHitsLyrics.Models.Album>

@{
    ViewData["Title"] = "Popular Albums";
}

<h1>Popular Albums</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<!-- add sortable and table-hover to the table class to give sorting function and hover effect-->
<table class="table sortable table-hover">
    <thead>
        <tr>
            <!-- change headings to hyperlink, so it is clickable -->
            <th>
                <a href="#">Name</a>
            </th>
            <th>
                <a href="#">Released Year</a>
            </th>
            <th>
                <a href="#">Artist</a>
            </th>
            <th class="sorttable_nosort">
                @*@Html.DisplayNameFor(model => model.Photo)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleasedYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist.Name)
            </td>
            <td>
                <!-- display the photos-->
                @if (item.Photo != null)
                {
                    <img src="~/Image/@item.Photo" class="img-thumbnail" alt="@item.Name"  />
                }

            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AlbumId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AlbumId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AlbumId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
