@model HotHitsLyrics.Models.Song

@{
    ViewData["Title"] = "Song Details and Lyrics";
}

<h1>@Model.Name</h1>

<div>
    <h4>Lyrics</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Album)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Album.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Songwriter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Songwriter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lyrics)
        </dt>
        <dd class="col-sm-10" style="white-space:pre-line">
            @Html.DisplayFor(model => model.Lyrics)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SongId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
