@model IEnumerable<HotHitsLyrics.Models.Song>

@{
    ViewData["Title"] = "Popular Songs";
}

<h1>Hot Hits</h1>
<h4>Explore the Lyrics Now</h4>

<p>
    <a asp-action="Create">Create New</a>
</p>
<!-- add bootstrap table-hover and make it sortable-->
<table class="table sortable table-hover">
    <thead>
        <tr>
            <!--change heading to hyperlink, sot it is clickable-->
            <th>
                <a href="#">Name</a>
            </th>
            <th>
                <a href="#">Genre</a>
            </th>
            <th>
                <a href="#">Length</a>
            </th>
            <th>
                <a href="#">Songwriter(s)</a>
            </th>
            <!--remove the Lyrics column from Index view-->
            @*<th>
                @Html.DisplayNameFor(model => model.Lyrics)
            </th>*@
            <th>
                <a href="#">Album</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Songwriter)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Lyrics)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Album.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SongId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SongId">Lyrics</a> |
                <a asp-action="Delete" asp-route-id="@item.SongId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
